
@{
    ViewBag.Title = "New";
}

<h2>New Teacher</h2>
<form method="POST" action="/Teacher/Create">
    <div>
        <label for="TeacherFname">First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" />

    </div>

    <div>
        <label for="TeacherLname">Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" />

    </div>

    <div>
        <label for="hiredate">Hire Date:</label>
        <input type="text" id="hiredate" name="hiredate" />
    </div>

    <div>
        <label for="salary">Salary:</label>
        <input type="text" id="salary" name="salary" />
    </div>
    <div>
        <input type="submit" value="Create Teacher" />
    </div>
</form>
