<main>
    <section class="row" aria-labelledby="schoolProjectTitle">
        <h1 id="schoolProjectTitle">School Project</h1>
        <p class="lead">School Project allows you to search and view the lists of Teachers, Students and Classes.</p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="teacherTitle">
            <h2 id="teachersTitle">Teachers</h2>
            <p>View list of Teachers. Search for a singular teacher. Click on the teacher's name to read their profile.</p>
            <p><a class="btn btn-outline-dark" href="/Teacher/List">View List &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="studentTitle">
            <h2 id="studentTitle">Students</h2>
            <p>View list of Students. Search for a singular student. Click on the student's name to read their profile.</p>
            <p><a class="btn btn-outline-dark" href="/Student/List">View List &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="classTitle">
            <h2 id="classTitle">Courses</h2>
            <p>View list of Courses. Search for a singular course. Click on the course to see the start and finish date.</p>
            <p><a class="btn btn-outline-dark" href="/Course/List">View List &raquo;</a></p>
        </section>>
    </div>
</main>