
@model IEnumerable<SchoolProject.Models.Student>

@{
    ViewBag.Title = "List";
}


<h2>List of Students</h2>
<p>Welcome to our Students Page, where you can browse through the profiles of our students</p>

<form action="/Student/List" method="GET">
    <input type="text" name="SearchKey"/>
    <input type="submit" name="Search"/>
</form>

@foreach (SchoolProject.Models.Student student in Model)
{
    <div><a href="/Student/Show/@student.StudentId">@student.StudentFname @student.StudentLname </a></div>
}